## Function
def function_name(n1,n2....n):

multiple value can be returned in function

In [21]:
def arith(x,y):
    s=x+y
    m=x*y
    return (s,m)
    
x=4
y=5
arith(x,y)

(9, 20)

In [49]:
def withdraw_amount():
    cash=int(input("Enter withdrawl amount"))
    current_balance=display_current_balance()
    new_bal=current_balance-cash
    print("Balance after withdrawl",new_bal)
def display_current_balance():
    current_balance=int(input("Enter current balance"))
    return current_balance

In [51]:
withdraw_amount()

Enter withdrawl amount 5000
Enter current balance 9000

Balance after withdrawl 4000

## Local and Global 
global variable can be used at anywhere.

local variable existence is within the function not outside.

In [25]:
x=10#global variable
y=20#global variable
def arith(x,y):#local variable
    s=x+y
    print(x,y)
    return (s)
    
var1=arith(4,10)
print(var1)

4 10
14

In [21]:
var2=arith(x,y)
print(var2)

10 20
30

In [23]:
print(x,y)

10 20

## Global command
if we want to use local variable ouside the function

In [60]:
def arith(x,y):#local variable
    s=x+y
    modify_global()
    print (x,y)
    return (s)

In [62]:
def modify_global():
    global x
    x=100
    print("updated_value",x)

In [66]:
var1=arith(x,10)
print(var1)

updated_value 100
100 10
110

## Arguments

In [101]:
def greet(name,age,country):
    print(f"your details are: {name}, {age}, {country}")

In [89]:
greet(32,"john","usa")

your details are: 32, john, usa

In [91]:
greet("john",32,"USA")

your details are: john, 32, USA

In [105]:
greet(age=32,country="USA",name="john")
#keyword arguments/parameters

your details are: john, 32, USA

In [109]:
def greet(name,age,country="india"):#default arguments
    print(f"your details are: Name: {name}, Age: {age}")

greet(age=32,name="Ramu")

your details are: Name: Ramu, Age: 32

In [115]:
def sale(*args):#variable length arguments
    print(type(args))
    for i in args:
        print(i)

sale("high",20,"cloudy")
#position sh0uld be maintained

<class 'tuple'>
high
20
cloudy

In [143]:
def sale1(**kwargs):
    print(type(kwargs))
    for i,j in kwargs.items():
        print(i,j)
    
sale1(rain="high",discount=20,weather="cloudy")

<class 'dict'>
rain high
discount 20
weather cloudy

In [199]:
def person(name, age , *hobbies, country="INDIA",**other_details):
    for i in other_details.items():
        print(f"Nmae: {name} ,Age: {age} ,Hobbies: {hobbies} ,other_details: {i}")
person("john",22,"Football","swimming","basketball",gender="male",role="developer")

Nmae: john ,Age: 22 ,Hobbies: ('Football', 'swimming', 'basketball') ,other_details: ('gender', 'male')
Nmae: john ,Age: 22 ,Hobbies: ('Football', 'swimming', 'basketball') ,other_details: ('role', 'developer')

## Nested function

In [226]:
#closure
def outer(x):
    def inner(y):
        return x*y
    return inner

In [236]:
v1=outer(2)
v2=v1(3)
print(v2)

6