# set
storing multiple values in single variable using curly brackets.
set are unordered,immutable and duplicate values are not allowed

In [6]:
s={1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [8]:
s1={'tiger','lion','tiger','dog'}
print(s1)

{'dog', 'lion', 'tiger'}

In [14]:
s2={True,1,False,0,'c++','java'}
print(s2)

{False, True, 'java', 'c++'}

In [16]:
for i in s1:
    print(i)

dog
lion
tiger

In [24]:
if "lion" in s1:
    print("present")

present

In [26]:
lst=list(s1)

In [28]:
lst

['dog', 'lion', 'tiger']

In [38]:
fruits = {"apple", "banana", "cherry"}
first_item = next(iter(fruits))

In [40]:
print(first_item)

banana

In [9]:
a={5,6,7,8,7,9}
print(a)
print(len(a))

{5, 6, 7, 8, 9}
5

In [7]:
b={True,"hiv",False,"ecg",0,1}
print(b)

{False, True, 'ecg', 'hiv'}

In [35]:
set_a={4,"environment",True,0,9,8,7}
if "environment" in set_a:
    print("present at 1st index")
else:
    print("not present")

present at 1st index

In [9]:
strm=["flower","flow","flight"] #print fl
for i in strm:
    for j in i:
        k=j.index[::1]
        print(k)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [9]:
roman = input("Enter a Roman number: ").upper()
integer= 0
old_value = 0

for i in roman:  
    match i:
        case 'I':
            value = 1
        case 'V':
            value = 5
        case 'X':
            value = 10
        case 'L':
            value = 50
        case 'C':
            value = 100
        case 'D':
            value = 500
        case 'M':
            value = 1000
        case _:
            print(i)
            value = 0

    if value < old_value:
        integer =integer-value
    else:
        integer =integer+value
    old_value = value

print(integer)

Enter a Roman number:  xx

20

# Adding of elements in set
1. .add()
2. .update()

In [38]:
set_a={4,"environment",True,0,9,8,7}
set_a.add("climate")
print(set_a)

{0, True, 'environment', 4, 7, 8, 9, 'climate'}

In [50]:
a={"red","yellow","pink"}
a.update(["black"])
print(a)

{'red', 'yellow', 'black', 'pink'}

In [56]:
b={2,4,7,9,54,1}
b.update([12])
print(b)

{1, 2, 4, 54, 7, 9, 12}

In [60]:
n={2,4,6,8}
m={1,3,5,7,9}
n.update(m)
print(n)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Removing elements
1. .remove()
2. .discard()
3. .pop()
4. .clear()
5. del()

In [65]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")  

print(fruits)

{'cherry', 'apple'}

In [62]:
numbers = {10, 20, 30, 40}
numbers.discard(20)  
numbers.discard(50)  # No error even though 50 is not in the set  

print(numbers)

{40, 10, 30}

In [70]:
animals = {"lion", "tiger", "elephant", "zebra"}
removed_item = animals.pop()  

print(f"Removed: {removed_item}")
print(f"Updated set: {animals}")

Removed: tiger
Updated set: {'zebra', 'lion', 'elephant'}

In [72]:
colors = {"red", "blue", "green"}
colors.clear()  

print(colors)

set()

In [74]:
students = {"Alice", "Bob", "Charlie"}
del students

In [103]:
x={12,14,16,18,21,24,35,60,33,53}
for i in x:
    if i%7==0:
        print(i)

35
14
21

In [107]:
x={12,14,16,18,21,24,35,60,33,53,81,101}
sum=0
for i in x:
    sum=sum+i
    mean=sum/len(x)
print("Mean: ",mean)

Mean:  39.0

In [127]:
animals = {"lion", "tiger", "elephant"}
for index, animal in enumerate(animals, start=1):
    print(f"{index}. {animal}")

1. tiger
2. lion
3. elephant

In [129]:
names = {"Olivia", "Liam", "Emma", "Noah"}
for name in sorted(names):
    print(name)

Emma
Liam
Noah
Olivia

In [153]:
ste={100,200,300,500,400}
ste2={200,500,700,800,900}
new=ste2.isdisjoint(ste)
print(new)

False

In [149]:
h1={21,23,24,25,26}
h2={25,22,26,27,28}
h3=h1.union(h2)
print(h3)

{21, 22, 23, 24, 25, 26, 27, 28}

In [141]:
f1=frozenset([1,2,3,4,5,6,7])
f1.add(8)
print(f1)

AttributeError: 'frozenset' object has no attribute 'add'

In [12]:
a={1,2,3,4,5}
b={a**3 for a in range(1,6)}
print(b)

{64, 1, 8, 27, 125}

In [14]:
x={2,4,6,8,10}
y={1,2,3,4}
x.symmetric_difference(y)

{1, 3, 6, 8, 10}